#this is done
git init
#this is done
git add .
#this is done
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/ishakibul704-boop/my-second-git.git
git push -u origin main


problem 3t

